 .ConstructionBanner{
    text-align: center;
    padding: 10px;
    background-color: rgb(218, 163, 55);

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    
    z-index: 1000;

 }

 /* Attempt at black and yellow stripes */
 /* .ConstructionBanner::before{
  content: "";
  width: 5%;
  height: 100%;

  offset-position: 100px 100px;  
  position: absolute;
  background-color: black;
  left: 0;
 }  */

 .ConstructionWarningTextElem{
  font-size: 20px;
  font-weight: 900;
  color: white;
 }

 .ConstructionBannerLastEdit{
  font-size: 18px;
  font-weight: 900;
  color: white;
  display: block;
 }
 
 .Header_title{
    margin-top: 120px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 0;
  }

  .MainParaWarning{
    z-index: -1;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;;
    width: 60%;
    max-width: 800px;  
    
  }

  .ConstructionImageContainer{
    position: relative;
    z-index: -2;

    display: block;
    width: fill-available;  
    margin-top: 0px;
    height: 70vh;

    margin-top: -160px;
  }

  .ConstructionPicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    object-fit: contain;

  }

  .PictureHeader{
    text-align: center;
    font-size: 29px;
    font-weight: 900;
  }